.logo {
    width: auto;
    height: 40px;
}

.menuBtn {
    color: gray;
    padding-right: 20px;
    padding-top: 20px;
}

.introSide img {
    max-width: 300px;
    /* max-height: 400px; */
}
.introSide > div {
    padding: 15px;
}

.contentSideGray {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
}

.contactInfo {
    text-align: left;
    padding: 20px;
}

.contentSideWhite {
    text-align: center;
}
.contentSideWhite > div {
    padding: 25px;
}

.contactUsSide {
    color: gray;
}
.mapSide {
    margin-top: 55px;
    background-color: rgba(0, 0, 0, 0.3);
}

.contentSide > div > div {
    padding: 15px;
}

.footerSide > div {
    padding: 20px;
}

.cooperations > div {
    padding-bottom: 15px;
}
.cooperations img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.identifySide {
    max-width: 250px;
}

.identifySide > div {
    padding-bottom: 10px;
}

.menusSide > div {
    padding-bottom: 10px;
}

.contentSide {
    padding: 20px;
}

.contentSide img {
    max-width: 80%;
}

#vjs_video_3 > div {
    display: none;
}
#vjs_video_3 > button {
    display: none;
}

#vjs_video_3 {
    width: 100% !important;
    height: auto !important;
}

video {
    width: 100%;
    height: auto;
}

.introDesignPage {
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    margin: 0px;
    height: 700px;
}

.systemIntro > h1 {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 3rem;
}
.systemIntro {
    font-size: 1em;
}

.introDesignPageText {
    /* background-color: rgba(255, 255, 255, 0.3); */
}
.introDesignPageMobile > h2 {
    font-weight: bolder;
    color: rgb(55, 58, 203);
}
.introDesignPageText > h2 {
    font-weight: bolder;
    color: rgb(55, 58, 203);
}

.introDesignPageTextDes {
    padding-bottom: 15px;
    font-weight: bolder;
    color: gray;
}

.introItem {
    width: 110px;
    height: 110px;
    border: 9px solid rgba(0, 0, 0, 0.3);
    margin: 0px;
    border-radius: 55px;
    margin-top: 30px;
}
