.App {
  text-align: center;
}

.sliderWrap {
  padding: 0px !important;
}

.menuWrap, .contentWrap, .footerWrap {
  padding: 30px;
}

.menuWrap, .footerWrap {
  text-align: left;
}

.menuWrap {
  background-color: #020202;
  opacity: 0.8;
  padding: 10px;
}

.footerWrap {
  background-color: rgba(0, 0, 0, 0.9);
  color: gray;
}