.App {
  text-align: center;
}

.sliderWrap {
  padding: 0px !important;
}

.menuWrap, .footerWrap {
  padding: 30px;
}

.menuWrap, .footerWrap {
  text-align: left;
}

.menuWrap {
  background-color: rgba(255, 255, 255, 0.6);
}

.footerWrap {
  background-color: rgba(0, 0, 0, 0.9);
  color: gray;
}

@font-face { 
  font-family: 'Nexon';
  src: url('./assets/font/NEXON\ Lv1\ Gothic\ OTF.woff') format("woff");
}

body {
  font-family: 'Nexon' !important;
}
